.main_body__log{
  height: 64px;
  width: 700px;
  background-color: white;
  margin-left: 40px;
  padding: 64px;
  &__ber{
    height: 50px;
    width: 572px;
    background-color: red;
    &__out{
      height: 50px;
      width: 320px;
      background-color: white;
      margin-left: ;
    }
  }
}