.main_body {
  &__h {
    height: 568px;
    width: 700px;
    margin-left: 40px;
    background-color: white;

    &__profile {
      height: 50px;
      width: 700px;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }
    &__user {
      height: 156px;
      width: 700px;
      text-align: center;
      background-image: url("/shabon.jpg");
      &__box {
        display: flex;
        position: relative;
        img {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          position: absolute;
          top:70px;
          left:200px;
        }
      }
    }
    &__z {
      height: 362px;
      width: 700px;

      &__comment {
        height: 194px;
        width: 646px;
        background-color: white;
        border: 1px solid #ccc;
        margin-top: 200px;
      }
      .main_body__h__z__change {
        background-color: red;
        height: 50px;
        width: 630px;
        margin-left: 16px;
        color: white;
        text-align: center;
        line-height: 50px;
        margin-top: 20px;
      }
    }
  }
}



.main_body__h__user__imput {
    height: 38px;
    width: 200px;
    font-size: 25px;
    background-color:white;
    line-height: 48px;
    text-align: left;
    border-radius: 4px;
    padding-left: 20px;
    position: absolute;
    top: 330px;
    right: 440px;
    text-decoration: none;
}