.top_bar{
  height: 49px;
  width: 100%;
  border-top: 1px solid #eee;
  background-color: yellowgreen;
}
.main_body{
  &__h{
    height: 568px;
    width: 700px;
    margin-left: 40px;
    background-color: white;

    &__profile{
      height: 50px;
      width: 700px;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }
    &__user{
      height: 156px;
      width: 700px;
      text-align: center;
      background-image: url("/shabon.jpg");
      &__box{
        display: flex;
        img{
          height: 60px;
          width: 60px;
          margin-top: 72px;
          margin-left: 200px;
          border-radius: 50%;
        }        
        .main_body__h__user__imput{
          height: 48px;
          width: 200px;
          margin-top: 80px;
          margin-left: 10px;
          background-color: white;
          line-height: 48px;
          text-align: left;
          padding-left: 20px;
          border-radius: 4px;
        }
      }
    }
    &__z{
      height: 362px;
      width: 700px;
      position: relative;
      &__comment{
        height: 194px;
        width: 646px;
        padding: 10px;
        background-color: white;
        border: 1px solid red;
        margin-left: 16px;
        position: absolute;
        top: 40px;
      }
      .main_body__h__z__change{
        position: absolute;
        top: 280px;
        background-color: red;
        height: 50px;
        width: 668px;
        margin-left: 16px;
        color: white;
        text-align: center;
        line-height: 50px;
      }
    }
  }
}
