// sns要録
.user_login{
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  .user_login_header{
  height: 128px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  }
  .user_login_body{
    height: 383px;
    width: 700px;
    margin-bottom : 50px;
    background-color: #fff;
    margin: 0 auto;
    .user_login_text{
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif; 
      text-align: center;
      font-weight: bold;
      line-height: 20px;
      font-size: 22px;
      color: black;
      padding: 32px;
    }
    .user_login_sns{
      font-size: 14px;
      height: 50px;
      text-align: center;
      width: 343px;
      margin: 0 auto;
      i{
        font-size: 20px;
      }
      &_1{
        font-size: 17px;
        width: 343px;
        margin: 45px 0px 0px;
        padding: 1em;
        border-radius: 5px;
        display: flex;
        background-color: #EA352D;
        color: #FFFFFF;
        border-style: solid; border-width: thin; 
        border-color: #979797;
        &_a{
          font-size: 14px;
          margin: 0 auto;
          font-weight: 400px;
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        }

      }
      &_2{
        font-size: 17px;
        width: 343px;
        margin: 16px 0px 0px;
        padding: 1em;
        border-radius: 5px;
        display: flex;
        background-color: #385185;
        color: #FFFFFF;
        border-style: solid; border-width: thin;
        border-color: #979797;
        &_b{
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
          font-size: 14px;
          margin: 0 auto;
          font-weight: 400px;
          a{
            display: block;
            text-decoration: none;
            color: white;
          }
        }
      }
      &_3{
        font-size: 17px;
        width: 343px;
        margin: 16px 0px 0px;
        padding: 1em;
        border-radius: 5px;
        display: flex;
        background-color: #FFFFFF;
        color: #333333;
        border-style: solid; border-width: thin;
        border-color: #979797;
        &_c{
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
          font-weight: 400px;
          font-size: 14px;
          margin: 0 auto;
          a{
            display: block;
            text-decoration: none;
            color: white;
          }

        }
      }
    }
  }
  .user_login_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    .user_login_bottom_text{
      margin: 100px 0px 0px;
      font-size: 13px;
      line-height: 13px;
      display: flex;
      justify-content: center;
      li{
        margin-right: 20px;
      }
    }
      &_box{
        opacity: 0.5;
        margin: 50px 0 0;
      }
      &_mozi{
        font-size: 13px;
        margin: 0 auto;
      }

  }
}
