
.head-tell{
  width: 700px;
  height: 95px;
  background-color: white;
  margin: 0 auto;
  font-size: 22px;
  color: #333333;
  line-height: 95px;
  text-align: center;
  font-weight: bold;
}
.tell-form{
  width: 620px;
  height: 299px;
  background-color: white;
  margin: 0 auto;
  margin-top:1px;
  padding: 40px 40px 64px;
  font-size: 14px;
  .tell-box{
  margin: 0 138.5px;
  font-weight: bold;
  color: #333333;
  input{
    background-color: white;
    width: 311px;
    height: 30px;
    padding: 10px 16px 8px;
    margin-top: 8px;
    border-radius: 4px;
    color: #ccc;
    border: 1px solid #ccc;
  }
  .tell-text{
    font-size: 14px;
    margin-top: 8px;
    color: #333333;
    font-weight: normal;
  }
  .tell-btn{
    background-color: #ea352d;
    width: 343px;
    height: 50px;
    margin-top: 32px;
    border-radius: 0px;
    color: white;
  }
  .tell-text_bottom{
    margin-top: 8px;
    color: #333333;
    font-weight: normal;
  }
  .tell-text_bottom2{
    float: right;
    color: #0099e8;
    font-size:14px;
    margin-top: 30px;
  }
}
}

.header{
  display: flex;
  justify-content: center;
  min-width: 768px;
  height: 128px;
  background-color: #F5F5F5;
  &__logo{
    min-width: 185px;
    height: 49px;
    width: 185px;
    margin: 40px 10px 0;
  }
  .progress-tell {
    min-width: 580px;
    padding: 40px 0 0 44px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-align: center;
    &-bar{
      margin: 0;
      li{
        margin: 0 40px 0 0;
        padding: 0;
        position: relative;
        z-index: 40;
        display: inline-block;
        min-width: 60px;
        font-size: 12px;
        color: gray;
        .progress-status-tell{
          position: absolute;
          left: 40%;
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          background: gray;
          border-radius: 50%;
          z-index: 30;
        }
      }
    }
  }
  // デフォルトのプログレスバー
  .progress-status_bar-tell {
    position: absolute;
    left: 50%;
    top: 32px;
    bottom: 5px;
    display: block;
    width: 130px;
    height: 2px;
    background: gray;
    z-index: 10;
  }
  .step5 .progress-status_bar-tell {
    width: 0px;
  }
  .step4 .progress-status_bar-tell {
    width: 100px;
  }
  #done{
    color: #ea352d;
    .progress-status{
      background: #ea352d;
    }
  }
  #done .progress-status_bar-tell{
    background: #ea352d;
  }
  #active{
    color: #ea352d;
    .progress-status-tell{
      background: #ea352d;
    }
  }
}
