.wrapper
  = render "partial/header"
.top_bar
.main_body
  = render "/mypages/partial/sidebar"
  .main_body__log
    .main_body__log__ber
      .main_body__log__ber__out
        ログアウト
.wrapper
  = render "partial/banner"
  = render "partial/footer"