= render "partial/header"
.top_bar
  - breadcrumb :evaluates
  = breadcrumbs separator: " &rsaquo; ", class: "breadcrumbs-list"

.evaluates
  評価の一覧

= render "partial/banner"
= render "partial/footer"