= render "partial/header"
.top_bar
  - breadcrumb :pastransaction
  = breadcrumbs separator: " &rsaquo; ", class: "breadcrumbs-list"

.pastransaction
  過去の取引

= render "partial/banner"
= render "partial/footer"