.body {
  background-color: #f5f5f5;
  .header {
    display: flex;
    justify-content: center;
    min-width: 768px;
    height: 128px;
    background-color: #f5f5f5;
    &__logo {
      height: 49px;
      width: 185px;
      margin: 40px 10px 0;
    }
    .progress {
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      text-align: center;
      &-bar {
        margin: 0;
        li {
          margin: 0 40px 0 0;
          padding: 0;
          position: relative;
          z-index: 40;
          display: inline-block;
          min-width: 60px;
          font-size: 12px;
          color: gray;
          .progress-status {
            position: absolute;
            left: 40%;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: gray;
            border-radius: 50%;
            z-index: 30;
          }
        }
      }
    }

    .progress-status_bar {
      position: absolute;
      left: 50%;
      top: 32px;
      bottom: 5px;
      display: block;
      width: 130px;
      height: 2px;
      background: gray;
      z-index: 10;
    }
    .step5 .progress-status_bar {
      width: 0px;
    }
    .step4 .progress-status_bar {
      width: 100px;
    }
    #done {
      color: #ea352d;
      .progress-status {
        background: #ea352d;
      }
    }
    #done .progress-status_bar {
      background: #ea352d;
    }
    #active {
      color: #ea352d;
      .progress-status {
        background: #ea352d;
      }
    }
  }
  .signup_4 {
    height: 550px;
    width: 700px;
    background-color: #fff;
    margin: 0 auto;
  }
  .signup-title_4 {
    padding: 30px;
    color: #333;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
      メイリオ, Meiryo, sans-serif;
    font-weight: 700;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
  }
  .signup__box_4 {
    height: 100%;
    text-align: center;
  }
  .footer-credits__link_4 {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    .footer-credits__link_4_1{
      margin-left: 8px;
    }
    .footer-credits__link_4_2{
      margin-left: 8px;
    }
    .footer-credits__link_4_3{
      margin-left: 8px;
    }
    .footer-credits__link_4_3{
      margin-left: 8px;
    }
    .footer-credits__link_4_4{
      margin-left: 8px;
    }
    .footer-credits__link_4_5{
      margin-left: 8px;
    }
    .footer-credits__link_4_6{
      margin-left: 8px;
    }
  }
  .field_4 {
    font-size: 13px;
    font-weight: bold;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
      メイリオ, Meiryo, sans-serif;
    margin-top: 15px;
  }
}
.field-info__number_4 {
  margin-right: 240px;
}
.field-info__deadline_4 {
  margin-right: 250px;
}
.field-info__security_num_4 {
  margin-right: 190px;
}
.field-input_4 {
  width: 40px;
  margin-left: 175px;
}
.field-input_4_1 {
  margin-left: 175px;
  width: 350px;
  display: flex;
  line-height: 55px;
  .field-input_4_2{
    margin-left: 20px;
  }
  .field-input_4_3{
    margin-left: 20px;
  }
  .field-input_4_4{
    margin-left: 20px;
  }
.birthdate_month {
  width: 50px;
  padding: 5px;
  margin-right: 20px;
  }
}
.field-input_mozi_4 {
  font-size: 10px;
  margin-left: 250px;
  color: #0099e8;
  margin-left: 337px;
.iii{
  height: 125px;
  width: 325px;
  background-color: #dddddd;
  color: #333;
  margin-right: 60px;
  font-size: 14px;
  padding: 15px;
  margin-top: -25px;
}
}
.next-btn_4 {
  margin-top: 20px;
  font-size: 14px;
  height: 50px;
  width: 355px;
  color: #fff;
  background-color: #ea352d;
  padding: 10px 144px;
}
.footer-user_4 {
  text-align: center;
  color: #333;
  background-color: rgb(245, 245, 245);
  padding-bottom: 30px;
  ul {
    display: flex;
    justify-content: center;
    font-size: 13px;
    li {
      margin-right: 22px;
      padding-top: 42px;
      padding-bottom: 26px;
      color: #333;
      & a:link {
        color: #333;
        text-decoration: none;
      }
      & a:hover {
        text-decoration: underline;
        color: gray;
      }
    }
  }
}
.input-default {
  height: 40px;
  width: 325px;
  padding: 0 15px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
    メイリオ, Meiryo, sans-serif;
  &-half {
    height: 40px;
    width: 325px;
    padding: 0 15px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
}
select {
  box-sizing: border-box;
  width: 360px;
  height: 42px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  margin-top: 8px;
}
.credits_card{
  width: 200px;
  height: 80px;
}
.gnav {
  display: flex;
  height: 2rem;
  margin-left: 10px;
  width: 1000px;
  padding: 1px;
}
.gnav > li {
  width: 25%;
}

.gnav li {
  list-style: none;
  position: relative;
}
.gnav li a {
  background: #fff;
  color: skyblue;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.gnav li li {
  height: 0;
  overflow: hidden;
  transition: .1s;
  right: 174px;
}
.gnav li:active > ul > li {
  height: 2rem;
  overflow: visible;
}
