.buy_header{
  width: 700px;
  height: 97px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  background-color: white;
  line-height: 97px;
}
.buy-product{
  width: 668px;
  height: 81px;
  margin: 0 auto;
  background-color: white;
  margin-top: 1px;
  padding: 32px 16px;
  .buy-content{
    width: 343px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    .buy-image{
      height: 80px;
      width: 80px;
      img{
        height:80px;
        width: 80px;
      }
    }
    .buy-data{
      height: 80px;
      width: 247px;
      margin-left:16px;
      .buy-data_name{
        font-size: 14px;
        color: #333333;
      }
    }
    .buy-price{
      display: flex;
      line-height: 70px;

      .buy-price_1{
        font-size: 14px;
        color: #333333;
        font-weight: bold;
        height: 19px;
        width: 42px;
      }
      .buy-price_2{
        font-size: 12px;
        color: #333333;
        font-weight: bold;
        height: 12px;
        width: 96px;
        margin-left: 15px;
      }
  }}
}
.buy-pra{
  width: 668px;
  height: 443px;
  margin: 0 auto;
  background-color: white;
  margin-top: 1px;
  padding: 32px 16px 48px;
  .buy-form{
    height: 443px;
    width: 343px;
    margin: 0 auto;
    .buy_a{
      display: flex;
      justify-content: space-between; 
    .buy-form_text{
      font-size:18px;
      font-weight: bold;
      color: #333333;
      line-height: 60px;
      height: 30px;
    }
    .buy-form_price{
      font-size:30px;
      font-weight: bold;
      color: #333333;
      height: 30px;
    }}
  }
  .buy-label{
    margin-top:30px;
    font-size:14px;
    color:#888888;
  }
  .buy-how{
    padding: 32px 0;
    width: 343px;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
    border-top:1px #f5f5f5 solid ;
    border-bottom: 1px #f5f5f5 solid;
  }
  .buy-info{
    padding: 32px 0;
    width: 343px;
    height: 87px;
    .buy-info_a{
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      .buy-info_text{
        font-weight: bold;
        color:#333333;
      }
      .buy-info_link{
        color: #0099E8;
      }
    }
    .buy-user_info{
      margin-top: 20px;
      font-size: 14px;
      color:#333333;
      border-bottom: 1px #f5f5f5 solid;
      padding-bottom: 30px;
      li{list-style: none;}}
  }
  .buy-red_text{
    font-size: 14px;
    color: #EA352D;
  }
  .buy-btn{
    width: 343px;
    height: 50px;
    background-color: #EA352D;
    margin-top:20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
  }
}