.banner{
  height: 260px;
  width: 100%;
  background-image: url("/banner_img.jpg");
  color: white;
  display: flex;
  justify-content: space-between;

.banner_box {
  display: flex;
  justify-content: space-between;
  width: 750px;
  height: auto;
  margin: 0 auto;
}

  &__banner_left{
    height: 260px;
    width: 400px;
    list-style: none;

    &__moji1{
      font-size: 24px;
      font-weight: 600;
      margin-top: 40px;
      margin-bottom: 15px;
    }
    &__moji2{
      font-size: 35px;
      margin-bottom: 20px;
    }
    &__link_box{
      display: flex;
      &--photo{
        overflow: hidden;
        border-radius: 13px;
        width: 68px;
        height: 68px;
        img {
          width: 68px;
          height: 68px;
        }
      }
      &--link1{
        margin-top: 15px;
        margin-left: 30px;
      }
      &--link2{
        margin-top: 15px;
        margin-left: 20px;
      }
    }
  .banner_light{
    }
  }
}
.shita{
  text-align: center;
  color: #333;
  background-color: rgb(245, 245, 245);
  padding-bottom: 30px;
  ul {
    display: flex;
    justify-content: center;
    font-size: 13px;
    li {
      margin-right: 22px;
      padding-top: 42px;
      padding-bottom: 26px;
      color: #333;
      & a:link {
        color: #333;
        text-decoration: none;
      }
      & a:hover {
        text-decoration: underline;
        color: gray;
      }
    }
  }
}