.header {
  background-color: red !important;
  .header_content {
    height: 92px;
    width: 1200px;
    margin-left: 100px;
    padding-top: 8px;
    position: relative;
    .header_top {
      width: 100%;
      height: 40px;
      display: flex;
      .header_icon {
        width: 150px;
        height: 40px;
        margin-left: 6px;
        margin-top: 4px;
        background-image: url("/fmarket_logo_red.svg");
      }
      .header_search {
        width: 100%;
        height: 40px;
        .search-form {
          width: 100%;
          height: 40px;
          position: relative;
          .search-input {
            width: 841px;
            height: 40px;
            background-color: #f5f5f5;
            font-size: 20px;
            margin-top: 5px;
            border-radius: 5px;
            margin-left: 50px;
          }
          .search-btn {
            display: none;
          }
          .fa-search {
            position: absolute;
            right: 180px;
            top: 17px;
          }
        }
      }
    }
    .header_bottom {
      width: 100%;
      height: 42px;
      display: flex;
      margin-top: 10px;
      .select_box {
        width: 350px;
        height: 42px;
        display: flex;
        .categry_box {
          height: 42px;
          width: 50%;
          line-height: 60px;
          font-size: 14px;
          position: relative;
          font-weight: bold;
          .none {
            display: none;
          }
          .tach-cate {
            background-color: white;
            z-index: 100;
            position: absolute;
            top: 50px;
            color: #333333;
            line-height: 30px;
            list-style: none;
            font-weight: normal;
            li:hover {
              background-color: rgb(234, 53, 45);
              color: white;
            }
          }
        }
        .brand_box {
          height: 42px;
          width: 50%;
          line-height: 60px;
          font-size: 14px;
          position: relative;
          font-weight: bold;
          .none {
            display: none;
          }
          .tach-bra {
            width: 150px;
            background-color: white;
            z-index: 100;
            position: absolute;
            top: 50px;
            color: #333333;
            line-height: 30px;
            list-style: none;
            font-weight: normal;
            li:hover {
              background-color: rgb(234, 53, 45);
              color: white;
            }
          }
        }
        i {
          color: rgb(234, 53, 45);
        }
        .brand_box:hover {
          color: lightblue;
        }
        .categry_box:hover {
          color: lightblue;
        }
      }

      .user_box {
        width: 650px;
        height: 42px;
        display: flex;
        position: absolute;
        right: 90px;
        .like_box {
          width: 113px;
          line-height: 60px;
          font-size: 14px;
          padding: 0 14px;
        }
        .new_box {
          width: 83px;
          line-height: 60px;
          font-size: 14px;
          padding: 0 14px;
        }
        .list_box {
          width: 129px;
          line-height: 60px;
          font-size: 14px;
          padding: 0 14px;
        }
        .my_box {
          width: 170px;
          line-height: 60px;
          font-size: 14px;
          display: flex;
          padding: 0 14px;

          .my-image {
            img {
              height: 32px;
              width: 32px;
              border-radius: 50%;
              background-color: darkblue;
              margin-top: 14px;
            }
          }
          .my_text {
            width: 150px;
            height: 50px;
            a {
              color: black;
              text-decoration: none;
            }
          }
        }
      }
    }

    .like_box:hover {
      color: lightblue;
    }
    .new_box:hover {
      color: lightblue;
    }
    .list_box:hover {
      color: lightblue;
    }
    .my_box:hover {
      color: lightblue;
    }

    .header_bottom2 {
      width: 100%;
      height: 42px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      &__select_box {
        width: 350px;
        height: 42px;
        display: flex;
        &__categry_box {
          height: 42px;
          width: 50%;
          line-height: 60px;
          font-size: 14px;
          position: relative;
          font-weight: bold;

          &--tach-cate {
            background-color: white;
            z-index: 100;
            position: absolute;
            top: 50px;
            color: #333333;
            line-height: 30px;
            list-style: none;
            font-weight: normal;

            .none {
              display: none;
            }

            li:hover {
              background-color: rgb(234, 53, 45);
              color: white;
            }
          }
        }
        .brand_box2 {
          height: 42px;
          width: 50%;
          line-height: 60px;
          font-size: 14px;
          position: relative;
          font-weight: bold;

          &__tach-bra {
            width: 150px;
            background-color: white;
            z-index: 100;
            position: absolute;
            top: 50px;
            color: #333333;
            line-height: 30px;
            list-style: none;
            font-weight: normal;

            .none {
              display: none;
            }

            li:hover {
              background-color: rgb(234, 53, 45);
              color: white;
            }
          }
        }
        i {
          color: rgb(234, 53, 45);
        }
        .brand_box:hover {
          color: lightblue;
        }
        .categry_box:hover {
          color: lightblue;
        }
      }
      &__right_box {
        display: flex;
        a {
          display: block;
          text-decoration: none;
        }
        &__registration {
          color: #fff;
          background-color: #e9352d;
          height: 25px;
          width: 108px;
          padding: 8px;
          margin-right: 10px;
          border-radius: 5px;
          text-align: center;
          line-height: 25px;
        }
        &__login {
          color: #0095ed;
          border: 1px solid #0095ed;
          height: 25px;
          width: 78px;
          padding: 8px;
          margin-right: 10px;
          border-radius: 5px;
          text-align: center;
          line-height: 25px;
          &hover {
            color: #fff;
            background-color: #0095ed;
            transition: 0.5s;
            display: block;
          }
        }
      }
    }
  }
  a{
    text-decoration: none!important;
    list-style: none!important;
    color: #333333!important;
  }
  .user_box2{
    position: absolute;
    right: 50px;
    top:80px;
    display: flex;

    a{
      color: #fff!important;
    }
    .header_bottom2__right_box__login{
      
        color: #0095ed!important;
      
    }
  }
}