body{margin: 0;
  overflow: scroll;}
.wrapper{
  height: 100px;
  width: 100%;
 .slide_image{ 
    img{
      height: 390px;
      width: 100%;
  }}
  .favorite_categry{
    width: 100%;
    height: 170px;
    font-size:28px;
    color:#333333;
    text-align: center;
    line-height: 170px;
    font-weight: bold;
  }
}