body{margin: 0;
  overflow: scroll;}
.wrapper{
  height: 100px;
  width: 100%;
 .slide_image{ 
    img{
      height: 390px;
      width: 100%;
      z-index: 0;
  }}
  .favorite_categry{
    width: 100%;
    height: 170px;
    font-size:28px;
    color:#333333;
    text-align: center;
    line-height: 170px;
    font-weight: bold;
  }
  .product_box{
    width: 100%;
    background-color: #f5f5f5;
    .categry_name{
      width: 1040px;
      height: 33px;
      font-size: 24px;
      margin: 0 auto;
      padding-top:42px;
      font-weight: bold;
      .show_link{
        float: right;
        font-size: 14px;
        line-height: 50px;
        color:#0095EE;
      }
    }
    .product_show{
      flex-wrap: wrap;
      width: 1040px;
      height: 544px;
      margin-left: 180px;
      display: flex;
      .product_one{
        width: 188px;
        height: 252px;
        margin: 10px;
        background-color: white;
        .product_img{
          width: 188px;
          height: 188px;
          position: relative;
          img{
          width: 188px;
          height: 188px;
          }
          .price_one{
            height: 28px;
            width: 90px;
            background-color:rgba(0,0,0,0.4);
            position: absolute;
            bottom: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            color: white;
            font-weight: bold;
            text-align: center;
            font-size:17px;
            line-height: 28px;
          }
        }
        .one_name_box{
          width: 188px;
          height: 64px;
          .one_name{
            margin: 0 auto;
            width: 158px;
            height: 54px;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            color: #333333;
            line-height: 17px;
          }
        }
      }
    }
  }
}
.bay_btn{
  height: 160px;
  width: 160px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  text-align: center;
  color: white;
  line-height: 100px;
  font-weight: bold;
  font-size:20px;
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index:2;
  .fa-camera{
    color: white;
    position: absolute;
    top:70px;
    left:60px;
    font-size:40px;
  }
}