body{background-color: #f5f5f5;}
.message{
  width: 663px;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  .message-show{
    padding: 24px;
    display: flex;
    .message-img{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: yellow;
    }
    .message-name{
      font-size: 14px;
      color: #333333;
      font-weight: bold;
      padding-left: 30px;
      .message-name_text{
        background-color: #eef0f4;
        width: 500px;
        font-weight: normal;
        padding: 16px;
        border-radius: 15px;
        color: #333333;
        .time-box{
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          .time-box_show{
            color: #aaaaaa;
          }
          .fa.fa-flag{
            color: #aaaaaa;
            line-height: 21px;
          }
        }
      }
    }
  }
  .message_new{
    .message-warning{
      height: 44px;
      width: 100%;
      background-color: #fff6de;
      font-size: 14px;
      color: #333333;
    }
    textarea{
      width: 652px;
      height: 104px;
      padding: 10px;
      margin-top: 10px;
    }
    .submit_new{
      width: 674px;
      height: 50px;
      background-color: #aaaaaa;
      margin: 0 auto;
      color: white;
      font-size: 14px;
    }
  }
}