.show_main{
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 40px;
  .show_content{
    width: 700px;
    background-color:white;
    margin: 0 auto;
    .show_name{
      width: 620px;
      margin: 0 auto;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      padding-top: 24px;
    }
    .show_item_content{
      width: 620px;
      height: 420px;
      margin-top: 24px;
      margin-left: 40px;
      display: flex;
      .show_images{
        width: 300px;
        height: 370px;
        background-color: #fafafa;

        .item_main_image{
          width: 300px;
          height: 300px;
          border:1px solid black;
        }
        .item_sub_image{
          width: 60px;
          height:60px;
        }
      }
      .show_contents{
        width: 300px;
        height: 425px;
        margin-left: 24px;
        border:1px solid#eee2e2;
        .show_con1{
          display: flex;
          border-bottom:1px solid#eee2e2;
          .show_sell_name{
            width: 117px;
            height: 65px;
            line-height: 65px;
            padding-left: 8px;
            font-size:14px;
            border-right:1px solid#eee2e2;
            background-color: #fafafa;
          }
          .show_sell_name_right{
            width: 182px;
            height: 65px;
            padding-left: 8px;
            .show_my_name{
              font-size: 14px;
              color:#0099e8;
              line-height: 35px;
            }
          }
        }
        .show_con2{
          display: flex;
          border-bottom:1px solid#eee2e2;
          .show_cate_name{
            width: 117px;
            height: 65px;
            line-height: 65px;
            padding-left: 8px;
            font-size:14px;
            border-right:1px solid#eee2e2;
            background-color: #fafafa;
          }
          .show_cate_name_right{
            width: 182px;
            height: 65px;
            padding-left: 8px;
            list-style: none;
            font-size: 14px;
            color:#0099e8;
          }
        }
        .show_con3{
          display: flex;
          border-bottom:1px solid#eee2e2;
          .show_bra_name{
            width: 117px;
            height: 53px;
            line-height: 53px;
            padding-left: 8px;
            font-size:14px;
            border-right:1px solid#eee2e2;
            background-color: #fafafa;
          }
          .show_bra_name_right{
            width: 182px;
            height: 53px;
            padding-left: 8px;
            font-size: 14px;
            color:#0099e8;
          }
        }
        .show_con4{
          display: flex;
          border-bottom:1px solid#eee2e2;
          .show_size_name{
            width: 117px;
            height: 39px;
            line-height: 39px;
            padding-left: 8px;
            font-size:14px;
            border-right:1px solid#eee2e2;
            background-color: #fafafa;
          }
          .show_size_name_right{
            width: 182px;
            height: 39px;
            padding-left: 8px;
            font-size: 14px;
            line-height: 39px;
          }
        }
        .show_con4{
          display: flex;
          border-bottom:1px solid#eee2e2;
          .show_con_name{
            width: 117px;
            height: 39px;
            line-height: 39px;
            padding-left: 8px;
            font-size:14px;
            border-right:1px solid#eee2e2;
            background-color: #fafafa;
          }
          .show_con_name_right{
            width: 182px;
            height: 39px;
            padding-left: 8px;
            font-size: 14px;
            line-height: 39px;
          }
        }
        .show_con5{
          display: flex;
          border-bottom:1px solid#eee2e2;
          .show_del_name{
            width: 117px;
            height: 39px;
            line-height: 39px;
            padding-left: 8px;
            font-size:14px;
            border-right:1px solid#eee2e2;
            background-color: #fafafa;
          }
          .show_del_name_right{
            width: 182px;
            height: 39px;
            padding-left: 8px;
            font-size: 14px;
            line-height: 39px;
          }
        }
        .show_con6{
          display: flex;
          border-bottom:1px solid#eee2e2;
          .show_del2_name{
            width: 117px;
            height: 39px;
            line-height: 39px;
            padding-left: 8px;
            font-size:14px;
            border-right:1px solid#eee2e2;
            background-color: #fafafa;
          }
          .show_del2_name_right{
            width: 182px;
            height: 39px;
            padding-left: 8px;
            font-size: 14px;
            line-height: 39px;
          }
        }
        .show_con7{
          display: flex;
          border-bottom:1px solid#eee2e2;
          .show_area_name{
            width: 117px;
            height: 39px;
            line-height: 39px;
            padding-left: 8px;
            font-size:14px;
            border-right:1px solid#eee2e2;
            background-color: #fafafa;
          }
          .show_area_name_right{
            width: 182px;
            height: 39px;
            padding-left: 8px;
            font-size: 14px;
            color:#0099e8;
            line-height: 39px;
          }
        }
        .show_con8{
          display: flex;
          border-bottom:1px solid#eee2e2;
          .show_day_name{
            width: 117px;
            height: 39px;
            line-height: 39px;
            padding-left: 8px;
            font-size:14px;
            border-right:1px solid#eee2e2;
            background-color: #fafafa;
          }
          .show_day_name_right{
            width: 182px;
            height: 39px;
            padding-left: 8px;
            font-size: 14px;
            line-height: 39px;
          }
        }
        }
    }
    .show_price_box{
      width: 620px;
      height: 63px;
      margin: 0 auto;
      margin-top: 16px;
      display: flex;
      position: relative;
      .show_price_bold{
        font-size: 50px;
        text-align: center;
        font-weight: bold;
        width: 142px;
        height: 63px;
        text-align: center;
        margin-left:180px;
        display: flex;
      }
      .show_price_sub{
        font-size: 10px;
        position: absolute;
        bottom: 5px;
        right: 200px;
      }
      .show_price_dell{
        position: absolute;
        bottom: 2px;
        right: 133px;
      }
    }



    .show_buy_btn{
      width: 620px;
      height: 60px;
      margin: 0 auto;
      margin-top: 16px;
      background-color: red;
      font-size: 24px;
      text-align: center;
      font-weight: bold;
      color: white;
      line-height: 60px;
      margin-bottom: 18px;
      a{
        text-decoration: none;
        color: white;
      }
    }


    .show_txet_box{
      width: 620px;
      margin: 0 auto;
      background-color:white;
      padding-bottom: 40px;
      .show_mini_con{
        display: flex;
        margin-top: 16px;

      .show_box_like{
        width: 116px;
        height: 33px;
        background-color:  #eeecec;
        border-radius: 20px;
        text-align: center;
        line-height: 33px;
        font-size: 14px;
        color: #333333;
        i{
          color: grey;
        }
      }
      .bad_item{
        width: 180px;
        height: 33px;
        background-color:  #eeecec;
        border-radius: 20px;
        margin-left: 16px;
        line-height: 33px;
        font-size: 14px;
        text-align: center;
        color: #333333;
        i{
          color: grey;
        }
      }
      .show_key{
        width: 290px;
        font-size: 14px;
        text-align: center;
        margin-left: 70px;
        line-height: 33px;
        height: 33px;
        color: #0099e8;
      }
    }
    }
  }
}
