.sell_title{
  background-color: white;
  width: 668px;
  height: 33px;
  padding: 32px 16px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.sell-image{
  background-color: white;
  width: 620px;
  margin: 0 auto;
  margin-top: 1px;
  padding: 40px;
  .img-head{
    display: flex;
    .img-head_bold{
      font-size: 16px;
      font-weight: bold;
    }
    .img-head_icon{
      width: 32px;
      height: 19px;
      text-align: center;
      font-size: 12px;
      margin-left: 8px;
      color: white;
      background-color: red;
      font-weight: bold;
      border-radius: 3px;
    }
  }
  .image-text{
    color: #333333;
    font-size:14px;
    margin-top: 8px;
  }
  input{
    display: none;
  }
}

.sell-content{
  background-color: white;
  width: 620px;
  margin: 0 auto;
  margin-top: 1px;
  padding: 40px;
  .img-head{
    display: flex;
    .img-head_bold{
      font-size: 16px;
      font-weight: bold;
    }
    .img-head_icon{
      width: 32px;
      height: 19px;
      text-align: center;
      font-size: 12px;
      margin-left: 8px;
      color: white;
      background-color: red;
      font-weight: bold;
      border-radius: 3px;
    }
  }
  .sell_new{
    input{
      background-color: white;
      height: 28px;
      width: 586px;
      margin-top: 8px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: solid 1px #ccc;
    }
    .img-head{
      display: flex;
      margin-top: 30px;
      .img-head_bold{
        font-size: 16px;
        font-weight: bold;
      }
      .img-head_icon{
        width: 32px;
        height: 19px;
        text-align: center;
        font-size: 12px;
        margin-left: 8px;
        color: white;
        background-color: red;
        font-weight: bold;
        border-radius: 3px;
      }
    }
    textarea{
      width: 600px;
      height: 122px;
      margin-top: 8px;
      border: solid 1px #ccc;
      padding: 10px;
    }
  }
}
.sell_box{
  display: flex;
.sell-sub_head{
  font-size:14px;
  font-weight: bold;
  color:#888888;
  width: 230px;
  margin: 0;
}
.sell-form_box{
  
  .img-head_bold{
    font-size: 14px;
  }
  select{
    width: 400px;
    height: 48px;
    background-color: white;
    padding: 0 16px;
    margin-top: 8px;
    margin-bottom: 30px;
    border: #ccc solid 1px;
    border-radius: 4px;
  }
}}

  .price_new{
    position: relative;
    .sell-new_icon{
      position: absolute;
      right: 140px;
      top:10px;
    }
    input{
      width: 100px;
      height: 26px;
      padding: 10px 16px 8px;
      margin-left: 230px;
      border: #ccc solid 1px;
      border-radius: 4px;
    }
  }
  .sell-margin{
    width: 400px;
    height: 39px;
    display: flex;
    justify-content: space-between;
    border-top: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
    padding-top: 24px;
    font-size: 14px;
    color: #333333;
    margin-top: 24px;
    .sell-margin_left{}
    .sell-margin_right{
      margin-right: 30px;
    }
  }
  .sell-margin_bold{
    width: 400px;
    height: 39px;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    margin-top: 24px;
    .sell-margin_left{}
    .sell-margin_right{
      margin-right: 30px;
    }
    .sell-margin_right2{
      margin-right: 30px;
    }
  }
.sell-content{
  .sell-btn_text{
    list-style: none;
    font-size: 14px;
    color:#333333;
  }
  .sell-btn{
    width: 620px;
    height: 50px;
    background-color: #ea352d;
    margin-top: 50px;
    color: white;
    line-height: 50px;
    text-align: center;
    margin-bottom: 24px;
  }
  .sell-btn_back{
    width: 279px;
    height: 50px;
    margin: 0 auto;
    background-color: #aaaaaa;
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration:none!important;
    list-style: none;
  }
}
.sell-footer{
  height: 240px;
  width: 100vw;
  text-align: center;
  line-height: 120px;
  font-size: 12px;
  color:#333333;
}


.drop-zone {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: flex-end;

  .preview-box {
    margin: .5rem .5rem 0 0;
    width: 110px;
    height: auto;
    padding: 1rem 0 0;
    display: inline-block;
    border: 1px solid lightgray;
    background: #F5F5F5;
    &__img-box {
      width: 100%;
      height: 78px;
      > img {
        width: 100%;
        max-height: 70px;
        object-fit: cover;
      }
    }
    &__select {
      padding-top: 2rem;
      display: flex;
      justify-content: space-around;
      &--edit, &--delete {
        cursor: pointer;
        text-align: center;
        width: 50%;
        line-height: 2rem;
        height: 2rem;
        &:hover {
          opacity: .6;
        }
        > p {
          display: inline-block;
          color: #0099E8;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &--edit {
        border-right: 1px solid lightgray;
      }
    }
  }
}
.sell-box__img--input { // ドロップゾーン
  flex: 1;
  display: block;
  text-align: center;
  border: 1px dashed lightgray;
  min-width: 115px;
  height: 160px;
  background: #F5F5F5;
  margin-top: .5rem;
  > p {
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.3rem;
    margin-top: 4rem;
  }
  input[type=“file”] {
    display: none;
  }
}
  