.sell_title{
  background-color: white;
  width: 668px;
  height: 33px;
  padding: 32px 16px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.sell-image{
  background-color: white;
  width: 620px;
  margin: 0 auto;
  margin-top: 1px;
  padding: 40px;
  .img-head{
    display: flex;
    .img-head_bold{
      font-size: 16px;
      font-weight: bold;
    }
    .img-head_icon{
      width: 32px;
      height: 19px;
      text-align: center;
      font-size: 12px;
      margin-left: 8px;
      color: white;
      background-color: red;
      font-weight: bold;
      border-radius: 3px;
    }
  }
  .image-text{
    color: #333333;
    font-size:14px;
    margin-top: 8px;
  }
  .upload{
    display: flex;
    flex-flow: row nowrap; /*アイテムの整列・折り返し: 横並び 折り返さない*/
    .upload-image{
      height: 142px;
      background-color: #f5f5f5;
      margin-top: 20px;
      list-style: none;
      text-align: center;
      color: #333333;
      line-height: 25px;
      font-size:14px;
      font-weight: bold;
      border: #333333 dashed 1px;
      flex-basis: 620px;
      .sell-upload{
        display: none;
      }
    }
   .img{
      display: flex;
      margin-top:20px;
      img{
        width: 114px;
        height: 144px;
        margin-left: 10px;
        flex-shrink: 0;
        flex-flow: row nowrap;
      }
  }}
}

.sell-content{
  background-color: white;
  width: 620px;
  margin: 0 auto;
  margin-top: 1px;
  padding: 40px;
  .img-head{
    display: flex;
    .img-head_bold{
      font-size: 16px;
      font-weight: bold;
    }
    .img-head_icon{
      width: 32px;
      height: 19px;
      text-align: center;
      font-size: 12px;
      margin-left: 8px;
      color: white;
      background-color: red;
      font-weight: bold;
      border-radius: 3px;
    }
  }
  .sell_new{
    input{
      background-color: white;
      height: 28px;
      width: 586px;
      margin-top: 8px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: solid 1px #ccc;
    }
    .img-head{
      display: flex;
      margin-top: 30px;
      .img-head_bold{
        font-size: 16px;
        font-weight: bold;
      }
      .img-head_icon{
        width: 32px;
        height: 19px;
        text-align: center;
        font-size: 12px;
        margin-left: 8px;
        color: white;
        background-color: red;
        font-weight: bold;
        border-radius: 3px;
      }
    }
    textarea{
      width: 600px;
      height: 122px;
      margin-top: 8px;
      border: solid 1px #ccc;
      padding: 10px;
    }
  }
}
.sell_box{
  display: flex;
.sell-sub_head{
  font-size:14px;
  font-weight: bold;
  color:#888888;
  width: 230px;
  margin: 0;
}
.sell-form_box{
  
  .img-head_bold{
    font-size: 14px;
  }
  select{
    width: 400px;
    height: 48px;
    background-color: white;
    padding: 0 16px;
    margin-top: 8px;
    margin-bottom: 30px;
    border: #ccc solid 1px;
    border-radius: 4px;
  }
}}

  .price_new{
    position: relative;
    .sell-new_icon{
      position: absolute;
      right: 140px;
      top:10px;
    }
    input{
      width: 100px;
      height: 26px;
      padding: 10px 16px 8px;
      margin-left: 230px;
      border: #ccc solid 1px;
      border-radius: 4px;
    }
  }
  .sell-margin{
    width: 400px;
    height: 39px;
    display: flex;
    justify-content: space-between;
    border-top: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
    padding-top: 24px;
    font-size: 14px;
    color: #333333;
    margin-top: 24px;
    .sell-margin_left{}
    .sell-margin_right{
      margin-right: 30px;
    }
  }
  .sell-margin_bold{
    width: 400px;
    height: 39px;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    margin-top: 24px;
    .sell-margin_left{}
    .sell-margin_right{
      margin-right: 30px;
    }
    .sell-margin_right2{
      margin-right: 30px;
    }
  }
.sell-content{
  .sell-btn_text{
    list-style: none;
    font-size: 14px;
    color:#333333;
  }
  .sell-btn{
    width: 620px;
    height: 50px;
    background-color: #ea352d;
    margin-top: 50px;
    color: white;
    line-height: 50px;
    text-align: center;
    margin-bottom: 24px;
  }
  .sell-btn_back{
    width: 279px;
    height: 50px;
    margin: 0 auto;
    background-color: #aaaaaa;
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration:none!important;
    list-style: none;
  }
}
.sell-footer{
  height: 240px;
  width: 100vw;
  text-align: center;
  line-height: 120px;
  font-size: 12px;
  color:#333333;
}
  