.fullheader {
  width: 100%;
  height: 128px;
  background-color: #f5f5f5;
  .header_icon1 {
    width: 150px;
    height: 40px;
    margin: auto;
    img {
      margin-top: 35px;
    }
  }
}
.singlemain {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
  &__top {
    width: 328px;
    height: 64px;
    background-color: white;
    margin: 0 auto;
    padding: 40px 64px;
    &__moji {
      width: 240px;
      height: 14px;
      margin: 0 auto;
      top: 30px;
      font-size: 14px;
    }
    &__sinki {
      width: 312px;
      height: 26px;
      background-color: #0099e8;
      color: white;
      text-align: center;
      margin-top: 8px;
      padding: 8px;
    }
  }
}
.singlee {
  background-color: white;
  width: 456px;
  height: 181px;
  margin: 0 auto;
  border-top: 1px solid #eee;
  &__mainlogin {
    width: 328px;
    height: 116px;
    background-color: white;
    margin: 0 auto;
    margin-top: 31px;
    &__face {
      width: 328px;
      height: 50px;
      background-color: #385185;
      color: white;
      line-height: 50px;
      font-size: 14px;
      display: flex;
      border: 1px solid black;
      .iconn {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 30px;
        color: white;
      }
      &__moji {
        margin-top: 10px;
        margin-left: 50px;
        line-height: 30px;
        height: 30px;
      }
    }
    &__goog {
      margin-top: 15px;
      width: 328px;
      height: 50px;
      background-color: white;
      line-height: 50px;
      font-size: 14px;
      display: flex;
      border: 1px solid black;
      .iconn {
        margin-top: 15px;
        margin-left: 25px;
        font-size: 20px;
        color: black;
      }
      .singlee__mainlogin__face__moji2 {
        margin-top: 10px;
        margin-left: 65px;
        line-height: 30px;
        height: 30px;
        color: black;
      }
    }
  }
}
.undertw {
  background-color: white;
  width: 328px;
  height: 350px;
  margin: 0 auto;
  padding: 24px 64px 32px;
  border-radius: 4px;
  &__form2{
    margin-top: 25px;
  }
    input{
      height: 46px;
      width: 324px;
      border-radius: 4px;
    }
  &__robo {
    background-color: #f5f5f5;
    width: 300px;
    height: 76px;
    margin-top: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    &__check {
      background-color: white;
      width: 30px;
      height: 27px;
      border: 1px solid #d3d3d3;
      margin-top: 25px;
      margin-left: 15px;
    }
    &__font {
      font-size: 14px;
      width: 140px;
      height: 76px;
      margin-top: 22px;
      margin-left: 13px;
    }
    &__ref {
      margin-top: 14px;
      .rere {
        margin-left: 15px;
        font-size: 30px;
        margin-left: 40px;
      }
    }
    &__tit {
      font-size: 1px;
      opacity: 0, 1;
      margin-left: 30px;
    }
    &__kkk {
      font-size: 1px;
      width: 110px;
    }
  }
  &__in {
    &__ji {
      margin-top: 15px;
      input{
        background-color: red;
        width: 326px;
        height: 48px;
        color: white;
        border-radius: 0px;
        font-size: 14px;
      }
    }
  }
  &__pw {
    width: 326px;
    height: 14px;
    color: #0099e8;
    font-size: 14px;
    margin-top: 40px;
    a{
    text-decoration: none;
    color: #0099E8;
    }
  }
}
